*{
	padding: 0;
	margin: 0;
}
a{
	text-decoration: none;
}
.clearfix::after{
    content: '';
    display: block;
    clear: both;
}

.top-nav-bar{
	position: fixed;
	width: 100%;
}
/*logo部分*/
.top-nav-bar .logo{
	float: left;
	font-size: 24px;
	font-weight: bold;
	padding: 20px;
	font-family: 'Arial Black';
}
.top-nav-bar .logo .rs{
	margin-right: 4px;
	color: #E8676B;
}

.top-nav-bar .logo .card{
	color: #9A9DA2;
}

/*nav部分*/
.top-nav-bar nav{
	float: right;
	padding: 20px;
}
.top-nav-bar nav ul li{
	list-style: none;
	float: left;
	margin-right: 17px;
	margin-left: 17px;
}
.top-nav-bar nav ul li a{
	font-size: 12px;
	font-weight: bold;
	display: block;
	padding-bottom: 4px;
	padding-top: 4px;
	border-bottom: solid 3px transparent;
	border-top: solid 3px transparent;
	color: #b7b7b7;
	}
.top-nav-bar nav ul li a:hover{
	border-bottom: 3px #E8676B solid;
}


.banner{
	height: 515px;
	background-image: url("./img/rs-cover.jpg");
	
}
.banner .mask{
	height: 515px;
	background-color:rgba(0, 0,0,0.8);
}